body{
    text-align: center;
    background-color: brown;
}
button{
    background-color: #ff0000;
    font-size: 24px;
    height: 200px;
    width: 500px;
    border-radius: 4px;
    border: 2px solid #4CAF50;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
